/* SignIn.css */
div {
  margin-top: 0;
}
.pageContainer {
  display: flex;
  margin-top: 0;
}

.imageContainer {
  flex: 1;
  /* Adjust width and styling of the image container as needed */
  margin-top: 0;
}

.imageContainer div {
  margin-top: 0;
}


.signInContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
  h2 {
    margin-bottom: 20px;
  }
  
  .signInContainer a {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .signInContainer a:hover {
    background-color: #0056b3;
  }

  .terms a {
    all: initial; /* Reset all properties */
    color: #007BFF;
    cursor: pointer;
  }

  .terms a:hover {
    all: initial; /* Reset all properties */
    color: #0056b3;
    cursor: pointer;
  }

  .login a {
    all: initial; /* Reset all properties */
    color: #007BFF;
    cursor: pointer;
  }

  .login a:hover {
    all: initial; /* Reset all properties */
    color: #0056b3;
    cursor: pointer;
  }

  .login {
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
  }